# Default ignored files
/shelf/
/workspace.xml
/.idea/finalproject_chessgame-team-six-1.iml
/.idea/misc.xml
/.idea/modules.xml
uiDesigner.xml
vcs.xml
workspace.xml
finalproject_chessgame-team-six-1.iml
